body {
    background-color: black;
    color: white;
    text-align: center;
}

button {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    height: 65px;
    min-width: 200px;
}

#warriors {
    display: flex;
    justify-content: space-evenly;
    
}

#rock {
    background-color: aqua;
}

#paper {
    background-color: rgb(255, 0, 242);
}

#scissors {
    background-color: rgb(208, 255, 0);
}